// Overrides

// BACKGROUND COLORS
////////////////////
$nav-bg:#248BD2 !default;
$examples-bg: #4000D0 !default;


// FONTS
////////////////////
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");

$font-default-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
